.trash
__pycache__
_internal
mukkuru.build/
mukkuru_release*
mukkuru-*-*
mukkuru.exe
mukkuru.cmd
*.ps1
build/
nuitka-crash-report.xml
.venv
compile_user.json
cross_compile.py
zolvanis-windows-amd64.exe
nodes.json
