:root {
    --dark-footer-button-bg: "#4E4E4E";
    --game-title-scrolling-text: 1;
    --dark-mode-select-border: #0b0b0b;
}

*, *::before, *::after {
  cursor: none !important;
}

html {
    --bg-color: #EBEBEB;
    --bland-bg: #cccccc;
    --main-color: #2E2E2E;
    --accent-color: #03bbc5;
    --select-light: #67f7e1;
    --select-dark: #27c0d1;
    --select-border: #fff;
    --font-sans: 'source-han-sans-simplified-c', sans-serif;
    --font-bold: var(--font-sans);
    --font-number: 'din-2014', sans-serif;
    overflow: hidden;
    font-family: var(--font-sans);
    font-size: 24px;
    height: 100%;
    width: 100%;
    background-color: var(--bg-color);
}

.homeMenu {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    display: flex; 
    flex-flow: column nowrap;
    opacity: 0;
}

.pending {
    visibility: hidden !important;
    pointer-events: none !important;
}

.concealed {
    display: none;
}

.homeBody {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    /* footer optimizations */
    flex: 1;
    padding-bottom: 100px;
}

.homeHeader {
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    padding: 36px 64px;
    box-sizing: border-box;
    flex-shrink: 0;
}

button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    font: inherit;
}

.userList {
    margin-left: 0;
    margin-right: auto;
    display: flex;
    flex-flow: row nowrap;
    position: fixed;
}

.userList-user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    outline: none;
    position: relative;
}

.userList-user::after {
    content: attr(data-username);
    position: absolute;
    top: calc(100% + 8px);
    font-size: 20px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 120ms ease;
    color: var(--accent-color);
}

.userList-user:first-of-type::after {
    left: -12px;
}

.userList-user:nth-of-type(2)::after {
    left: -32px;
}

.userList-user:focus::after {
    opacity: 1;
}

.userList-user + .userList-user {
    margin-left: 12px;
}

.userList-icon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 0 3px var(--select-border), 0 1px 1px 3px rgba(0, 0, 0, .1);
    transform-origin: center center;
    transition: transform 80ms ease;
}

.userList-user:focus > .userList-icon {
    transform: scale(1.1);
    box-shadow: 
        0 0 0 calc(3px / 1.1) var(--select-border), 
        0 0 0 calc(4px + 3px / 1.1) var(--select-light),
        0 calc(1px / 1.1) calc(1px / 1.1) calc(4px + 3px / 1.1) rgba(0, 0, 0, .1);
    animation: userlist-select 1s ease-in-out infinite;
}

@keyframes userlist-select {
    0% {
        box-shadow: 
            0 0 0 calc(3px / 1.1) var(--select-border), 
            0 0 0 calc(4px + 3px / 1.1) var(--select-light),
            0 calc(1px / 1.1) calc(1px / 1.1) calc(4px + 3px / 1.1) rgba(0, 0, 0, .1);
    }
    50% {
        box-shadow: 
            0 0 0 calc(3px / 1.1) var(--select-border), 
            0 0 0 calc(4px + 3px / 1.1) var(--select-dark),
            0 calc(1px / 1.1) calc(1px / 1.1) calc(4px + 3px / 1.1) rgba(0, 0, 0, .1);
    }
    100% {
        box-shadow: 
            0 0 0 calc(3px / 1.1) var(--select-border), 
            0 0 0 calc(4px + 3px / 1.1) var(--select-light),
            0 calc(1px / 1.1) calc(1px / 1.1) calc(4px + 3px / 1.1) rgba(0, 0, 0, .1);
    }
}

.statusBar {
    display: flex;
    align-items: center;
    z-index: 600;
    position: fixed;
    right: 5%;
}

.timeState {
    color: var(--main-color);
    font-family: var(--font-number);
    display: flex;
    flex-flow: row nowrap;
    font-weight: 500;
    position: relative;
}

.currentTime {
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 24px;
    position: relative;
    right: 5%;
}
.timeState-separator {
    vertical-align: 2px;
}

.timeState + .wifiState {
    margin-left: 12px;
}

.wifiState {
    margin-left: 50px;
    width: 26px;
    height: 26px;
    display: flex;
    transform: translateY(-1px);
    right: 10px;
}

.wifiState-icon {
    width: 100%;
    height: 100%;
}
#batteryPercent + .batteryState {
    margin-left: 40px;
}

.wifiState + #batteryPercent {
    margin-left: 20px;
}
/*deprecated*/
.wifiState + .batteryState {
    margin-left: 50px;
}

.batteryState {
    width: 20px;
    height: 10px;
    position: relative;
    top: 10%;
    right: 10%;
    background-color: var(--main-color);
    box-shadow: 0 0 0 2px var(--bg-color), 0 0 0 4px var(--main-color);
}
.batteryState::after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(100% + 4px);
    transform: translateY(-50%);
    width: 3px;
    height: 6px;
    background-color: var(--main-color);
}
.batteryLevel {
    height: 100%;
    background-color: var(--bg-color);
    position: absolute;
    top: 0;
    right: 0;
}

#batteryPercent {
    display: none;
    position: relative;
}
.chargePercent {
    font-size: 0.6em
}

.batteryCharging {
    display: none;
    position:absolute;
    top: -75%;
    left: -3px;
    width: 120%;
    height: 135%;
    z-index: 700;
}

.batteryCharging.active {
    display: block;
}

.gameList {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 124px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    overflow: visible;
    margin-bottom: 8%;
}

.appheaders {
    position: fixed;
    top: 0%;
    /*left: 0%;
    margin-left: 7vw;
    color: var(--accent-color);
    */
    color: var(--main-color);
    padding-bottom: 4vh;
    display: none;
    width: 100%;
    margin: auto 32px 0 32px;
    justify-content: center;
    padding-bottom: 2vh;
    z-index: 1000;
    background: var(--bg-color);
}
.appheaders::before {
    content: "";
    position: absolute;
    z-index: 100;
    width: 95vw;
    top: 100%;
    border-bottom: 1px solid var(--main-color);
}

.appheader {
    margin-top: 1.5vh;
    font-size: 1.2em;
    text-shadow: 0 0 2px white;
    z-index: 900;
}
.lined {
    color: var(--accent-color)
}

.lined::before {
    content: "";
    position: absolute;
    margin-left: -1.2em;
    bottom: 10px;
    height: 0.4vh;
    width: 5em;
    background-color: #0066cc;
    border-radius: 0 1px 1px 0;
}

.appheader + .appheader {
   /* margin-left: 4vw;*/
   margin-left: 20vw;
}

.appheader + .appheader {
   /* margin-left: 4vw;*/
   margin-left: 12vw;
}

.appList {
    margin: 8vh auto;
    box-sizing: border-box;
    width: max-content; /* shrink-wrap grid to fit items */
    max-width: 100%;
   /* padding: 8px 124px;*/
    display: grid;
    grid-template-columns: repeat(6, minmax(5%, 1fr));/*190px*/
    grid-template-rows: repeat(3, max-content);
    padding: 40px 50px 60px 50px;
    gap: 10px;
    overflow: hidden;
}

.mediaList {
    margin: 8vh auto;
    box-sizing: border-box;
    width: max-content;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(5%, 1fr));
    grid-template-rows: repeat(3, max-content);
    padding: 40px 50px 60px 50px;
    gap: 10px;
    overflow: hidden;
}


.appLauncher {
    aspect-ratio: 1;
    height: auto;
    width: 100%;
    outline: none;
    position: relative;
    
    max-height: 250px;
    max-width: 250px;

    min-height: 90px;
    min-width: 90px;
}

.videoLauncher {
    width: 100%;
    outline: none;
    position: relative;
    
    max-height: 200px;
    max-width: 400px;
}


.duration {
  position: absolute;
  bottom: 8px;
  right: 8px;
  z-index: 8;
  background-color: #2E2E2E;
  color: whitesmoke;
  padding: 3px 3px 3px 3px;
  border-radius: 12px;
  opacity: 0.7;
}

.appLauncher:focus, .videoLauncher:focus {
    box-shadow: 
        0 0 0 3px var(--select-border), 
        0 0 0 calc(4px + 3px) var(--select-light),
        0 1px 1px calc(4px + 3px) rgba(0, 0, 0, .1);
    animation: game-select 1s ease-in-out infinite;
}

.appLauncher-title, .video-title {
    position: absolute;
    top: 90%; /* below the square */
    width: 110%;
    left: -8%;
    transform: translateX(-50%) translateY(10px);
    background: var(--bland-bg);
    color: var(--accent-color);
    border: 1px solid #aaa;
    padding: 8px 12px;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s, transform 0.2s;
    z-index: 10;
}


.appLauncher-title::before, .video-title::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid var(--bland-bg);
  z-index: -1;
}

.appLauncher:focus > .appLauncher-title, .videoLauncher:focus > .video-title {
    opacity: 0.9;
    transform: translateY(0);
    pointer-events: auto;
}

.appLauncher-thumbnail, .video-thumbnail {
    width: 100%;
    height: 100%;
}

.video-thumbnail {
  object-fit: cover;
}


.gameLauncher {
    height: 246px;
    width: 246px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    flex-shrink: 0;
    position: relative;
    outline: none;
}

.gameLauncher-more {
    position: relative;
    flex-shrink: 0;
    outline: none;
    position: relative;
}

.gameLauncher + .gameLauncher-more {
    margin-left: 64px;
}
.gameLauncher-more:focus > .gameLauncher-title {
    opacity: 1;
}

.gameLauncher-more:focus {
/*margin-top: 30px;*/
box-shadow: 
    0px 0px 15px var(--select-light),
    0px 0px 15px rgba(0, 0, 0, .1);
height: 160px;
border-radius: 50%;
animation: footerButton-select - 1s ease-in-out infinite;
}

.gameLauncher:focus {
    box-shadow: 
        0 0 0 3px var(--select-border), 
        0 0 0 calc(4px + 3px) var(--select-light),
        0 1px 1px calc(4px + 3px) rgba(0, 0, 0, .1);
    animation: game-select 1s ease-in-out infinite;
}

@keyframes game-select {
    0% {
        box-shadow: 
        0 0 0 3px var(--select-border), 
        0 0 0 calc(4px + 3px) var(--select-light),
        0 1px 1px calc(4px + 3px) rgba(0, 0, 0, .1);
    }
    50% {
        box-shadow: 
        0 0 0 3px var(--select-border), 
        0 0 0 calc(4px + 3px) var(--select-dark),
        0 1px 1px calc(4px + 3px) rgba(0, 0, 0, .1);
    }
    100% {
        box-shadow: 
        0 0 0 3px var(--select-border), 
        0 0 0 calc(4px + 3px) var(--select-light),
        0 1px 1px calc(4px + 3px) rgba(0, 0, 0, .1);
    }
}

.gameLauncher + .gameLauncher {
    margin-left: 16px;
}
.gameLauncher-title {
    position: absolute;
    bottom: calc(100% + 8px);
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: var(--accent-color);
    user-select: none;
    opacity: 0;
    transition: opacity 120ms ease;

    width: 350px; /* Set a fixed width, 250 covers box size */
    overflow: hidden; /* Hide the overflow text */
    white-space: nowrap; /* Prevent wrapping of text */
    display: inline-block;
}


.gameLauncher:focus > .gameLauncher-title {
    opacity: 1;
}

.gameLauncher-thumbnail {
    width: 100%;
    height: 100%;
}

.favorite::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 8px;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml;utf8,<svg fill='red' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z'/></svg>");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.gameLauncher-placeholder {
    width: 246px;
    height: 246px;
    box-sizing: border-box;
    border: 3px solid rgba(255, 255, 255, .5);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    flex-shrink: 0;
}

.gameLauncher + .gameLauncher-placeholder,
.gameLauncher-placeholder + .gameLauncher-placeholder {
    margin-left: 16px;
}

.footerNavigation {
    flex-shrink: 0;
    display: flex;
    flex-flow: row nowrap;
    bottom: 20%;
    position: fixed;
}

.gameList + .footerNavigation {
    margin-top: 56px;
}

.footerButton {
    width: 88px;
    height: 88px;
    background-color: var(--select-border);
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, .18);
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    position: relative;
}

.footerButton::after{
    content: attr(aria-label);
    display: block;
    white-space: nowrap;
    position: absolute;
    top: calc(100% + 8px);
    color: var(--accent-color);
    font-size: 20px;
    opacity: 0;
    transition: opacity 120ms ease;
}

.footerButton:focus{
    box-shadow: 
        0 0 0 4px var(--select-light),
        0 1px 1px 4px rgba(0, 0, 0, .1);
    animation: footerButton-select 1s ease-in-out infinite;
}

.footerButton:focus::after{
    opacity: 1;
}

@keyframes footerButton-select {
    0% {
        box-shadow: 
        0 0 0 4px var(--select-light),
        0 1px 1px 4px rgba(0, 0, 0, .1);
    }
    50% {
        box-shadow: 
        0 0 0 4px var(--select-dark),
        0 1px 1px 4px rgba(0, 0, 0, .1);
    }
    100% {
        box-shadow: 
        0 0 0 4px var(--select-light),
        0 1px 1px 4px rgba(0, 0, 0, .1);
    }
}

.footerButton {
    margin-left: 20px;
}

.footerButton-icon {
    width: calc(100% - 28px);
    height: calc(100% - 28px);
}

.homeFooter {
    padding: 0 24px;
    height: 72px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    /* appList optimizations*/
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 600;
    background: var(--bg-color);
}
.homeFooter::before {
    content: "";
    position: fixed;
    border-top: 1px solid var(--main-color);
    width: 95vw;
    z-index: 200;

    height: 72px;
}

.controllerState {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-left: 1vw;
    margin-right: auto;
}

.controllerState-type {
    width: 66px;
    height: 36px;
}
.keyGuideList {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-left: auto;
    margin-right: 10vw;
}
.keyGuide {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.keyGuide + .keyGuide {
    margin-left: 16px;
}
.keyGuide-icon {
    width: 32px;
    height: 32px;
}
.keyGuide-text {
    font-family: var(--font-bold);
    font-size: 16px;
    transform: translateY(-1px);
    letter-spacing: .4px;
    color: var(--main-color);
}
.keyGuide-icon + .keyGuide-text {
    margin-left: 4px;
}

@keyframes scroll-text {
    0% {
        transform: translateX(0%); /* Start at the initial position */
    }
    50% {
        transform: translateX(-110%); /* Move the entire text off the screen */
    }
    50.1% {
        transform: translateX(90%); /* Move the entire text off the screen */
    }
    100% {
        transform: translateX(0%);
    }
}

.animate span {
    display: inline-block;
    animation: scroll-text 8s linear infinite;
}


.gameLauncher-title .paused {
    animation-play-state: paused; /* Pause the animation */
    animation-duration: 0s; /* Stop animation, no movement */
}


@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.gameLauncher-title span{
    display: inline-block;
   /* padding-left: 100%;  Start with the text off-screen to the right */
    padding-left: 1em;
    animation: scroll-text 8s linear infinite;  /*Smooth scroll */
}

.contextualMenu {
    position: fixed;
    top: 30vh;
    left: 35vw;
    color: var(--main-color);
    background-color: var(--bland-bg);
    z-index: 5000;
    
    font-family: Arial, sans-serif;
    padding: 10px 0;
    font-size: 1em;
    border-radius: 12px;
    width: 35vw;
    overflow: hidden;
    display: none;
}

.contextualMenu.active {
    display: block;
}

.contextItem {
    left: 10%;
    width: 46vw;
    padding: 12px 16px;
    position: relative;
    color: var(--main-color);
   /* justify-content: space-between;*/
    display: flex;
    margin: 10px 0;
    box-sizing: border-box;
    max-width: 80%;
    max-height: 100%;
    margin-right: 2vw;
}
#dashboardQR {
    margin-left: 8vw;
}

#videoPlayer {
    display: none;
    z-index: 6000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    margin: 0;
    padding: 0;
    object-fit: contain;
    background-color: black;
    position: fixed;
    border: none;
    outline: none;
    transition: transform 100ms ease;
}

#videoPlayer.active {
    display: block;
}

#videoPlayer.screenshot-bounce {
  transform: scale(1.05);
}

#flash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  opacity: 0;
  pointer-events: none;
  transition: opacity 80ms ease;
  z-index: 6005;
}
#flash.active {
  opacity: 1;
}

#loadingSpinner {
    display: none;
    width: 60px;
    height: 60px;
    /*bottom: 20vh;*/
    top: 4vh;
    margin-right: 1vw;
    z-index: 1000;
}

#loadingSpinner.active {
    display: block;
}

.contextItem + .contextItem {
    border-top: 1px solid var(--bg-color);
}

.contextItem.selected {
    border: 5px solid transparent;
    border-radius: 1px;
   /*   color: #004a99;*/
    background-color: transparent;
    z-index: 5001;
    animation: game-select 1s ease-in-out infinite;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); 
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 11000;
}

#overlay .message {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 1em 2em;
  border-radius: 8px;
}

#videoTime {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    opacity: 0.8;
    background-color: #2E2E2E;
    z-index: 7000;
    color:aliceblue;
    border-radius: 12px;
    padding: 12px 12px 12px 12px;
}

#videoTime.active {
    display:block;
}